<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/c39b059ac2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/css/Stu_login.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stu_login</title>
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="{% url 'login' %}" method='POST'>
                    {% csrf_token %}
                    <h2>Login</h2>
                    <div class="inputbox">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" required name='email'>
                        <label for="" >Email</label>
                    </div>
                    <div class="inputbox">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" required name='password'>
                        <label for="">Password</label>
                    </div>
                    <div class="forget">
                        <div class="check">
                            <label for=" "><input type="checkbox"> Remember Me </label>
                        </div>
                        <div class="pass">
                            <a href="#">Forget Password</a>
                        </div>
                    </div>
                    <button type='submit'>Log In</button>
                        {% if messages %}
                            <div class="mgs">
                                {% for message in messages%}
                                    {{message}}
                                {% endfor %}
                            </div>
                        {% endif %}
                </form>
            </div>
        </div>
    </section>
    <style>
        .mgs{
            width: 100%;
            padding: 10px 0px;
            border-radius: 4px;
            border-style: solid;
            border-width: 3px;
            margin-top: 20px;
            font-size: 16px;
            text-align: center;
            background-color: rgb(178 207 233);
            color: rgba(7 57 82);
            border-color: rgba(4 81 206);
          }
    </style>
</body>
</html>