{% load static %}
<nav class="navbar background1">
    
    <ul class="nav-list another">
        <div class="logo"> 
            <img src="{% static '/image/logo1.jfif' %}" alt="logo">
        </div>
        <li>
            <a href="{% url 'Teacher_home' %}">Dashboard</a>
        </li>
        <li>
            <a href="{% url 'take_attendance' %}">Add Attendance</a>
        </li>
        <li>
            <a href="{% url 'view_attendance' %}">View Attendance</a>
        </li>
        <li>
            <a href="{% url 'view_student_teacher' %}">View Student</a>
        </li>
        <li>
            <a href="{% url 'logout' %}">Log Out</a>
        </li>
    </ul>
    {% comment %} <div class="rightnav">
        <input type="text" name="search" id="search">
        <button class="btn btn-sm">Search</button>
    </div> {% endcomment %}
</nav>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
    *{
        margin: 0;
        padding: 0;
    }
    
    .navbar{
    
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0;
        cursor: pointer;
    
    }
    .nav-list{
        width: 63%;
       /* background-color: chartreuse;*/
        display: flex;
        align-items: center;
    }
    .logo{
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
    .logo img{
        width: 40%;
        border-radius: 50%;
    }
    
    .nav-list li{
        list-style: none;
        padding: 15px;
    }
    
    .nav-list li a{
        text-decoration: none;
        color: blanchedalmond;
    }
    .nav-list li a:hover{
        text-decoration: none;
        color: peru;
    }
    
    .rightnav{
        width: 37%;
       /* background-color: aqua; */
        text-align: right;
        padding: 0px 23px;
    }
    #search{
        padding: 4px;
        border: 3px solid black;
        font-size: 17px;
    }
    
    .background1{
        background: black;
        opacity: 90%;
        background-size: cover;
        background-blend-mode: darken; 
    }
    
    .background{
        background: rgba(157, 228, 168, 0.3) url(/static/image/bg_image.jpg);
        background-size: cover;
        background-blend-mode: darken; 
    }
    .firstSection{
        height: 50vh;
        margin-bottom: 10px;
    }
    .box-main{
        display: flex;
        justify-content: center;
        align-items: center;
        color: aqua;
        font-family: Georgia, 'Times New Roman', Times, serif;
        max-width: 60%;
        margin: auto;
        height: 80%;
    }
    
    .firsthalf{
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
    }
    .secondhalf{
        width: 50%;
    }
    .secondhalf img{
        width: 55%;
        border: 2px solid rgb(8, 3, 3);
        border-radius: 28px;
        margin: auto;
        margin-left: 10px;
    }
    .big-text{
        font-size: 35px;
        padding: 10px;
        color: rgb(14, 11, 6);
    }
    
    /*table*/
    table{
        border: 1px solid black
    }
    td{
        border: 1px solid black;
        height: 20px;
        padding: 8px;
    }
    
    th{
        height: 30px;
        border: 1px solid black;
    }
    
    .detail{
        width: 70%;
    }
    .content{
        margin-left: auto;
    }
    
    /*Date inside table*/
    .time{
        color: maroon;
        background-color: aquamarine;
    }
    .date
    {
        font-size: 20px;
    }
    
    /* Date finish*/
    
    
    
    /*contact
    .contact{
        background: aqua;
    }
    
    .text-center{
        text-align: center;
        padding-top: 20px;
        font-size: 35px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .form{
        max-width: 1100px;
        margin: auto;
    }
    
    .form input
    {
        width: 100%;
        font-size: 22px;
        border: 2px solid black;
        border-radius: 10px;
        margin: 20px 0px;
        padding: 5px 3px;
    }
    
    .btn-dark{
        color: black;
        margin-bottom: 5px;
        border:2px solid  black;
        background-color: blueviolet;
    
    }
    .form-input{
        width: 100%;
        font-size: 22px;
        border: 2px solid black;
        border-radius: 10px;
        margin: 20px 0px;
        padding: 5px 3px;
    }
    */
    .footer{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .text-footer{
        text-align: center;
        padding: 10px 0px;
        color:white;
    }
    
    .submit{
        text-align: center;
        margin-left: 550px;
        margin-top: 10px;
    }
    .submit button{
        width: 100px;
        height: 30px;
        border-radius: 25px;
        background-color: aquamarine;
        color: blue;
    }
    
    /*.container{
        position: relative;
        max-width: 320px;
        width: 100%;
        margin: 30px auto 30px;
    }*/
    .list{
        background-color: aquamarine;
        border-radius: 15px;
        margin:15px 0;
        padding: 15px;
        
    }
    .multiselect ul{
        background-color: aquamarine;
        border-radius: 15px;
        margin-top: 5px;
        list-style: none;
        padding: 15px;
        width: 90%;
        height: 150px;
        overflow: auto;
        opacity: 0.8; 
    }
    
    /* FOR RESPONSIVE WEB SITE*/
    dl, ol, ul {
        margin-top: 0;
        margin-bottom: 0rem;
    }
</style>